spring_2025/baseball_analytics/labs/lab_2/all1998.csv filter=lfs diff=lfs merge=lfs -text
spring_2025/baseball_analytics/labs/lab_3/all2016.csv filter=lfs diff=lfs merge=lfs -text
spring_2025/baseball_analytics/labs/lab_4/sc_bip_small.csv filter=lfs diff=lfs merge=lfs -text
